body {
    font-family: Roboto, sans-serif;
}

.navbar {
    background-color: #262625;
}

#menu-nav .nav .nav-link.active {
    background-color: white;
    color: black;
}

#menu-nav .nav .nav-link,
.navbar-brand,
.navbar-brand-cover {
    color: white;
}

.navbar-toggler {
    background-color: white;
}

.carousel-item {
    height: 500px;
    overflow: hidden;
}

.carousel-item img {
    object-fit: cover; 
    height: 100%;
    width: 100%;
}

.carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px; 
    border-radius: 100%; 
}

.section-title {
    font-family: Bebas Neue, sans-serif;
    font-weight: bold;
    font-size: 50px;
    color: black;
}

.section-title-2 {
    font-family: Bebas Neue, sans-serif;
    font-weight: bold;
    font-size: 50px;
    color: white;
}

#about {
    background-color: #e6d9cd;
}

.text-colored {
    color: #262625;
}
.nav-menu button {
    text-transform: uppercase;
}

.nav-menu .nav-link.active {
    background-color: white;
    color: black;
}

.nav-menu .nav-link:hover {
    color: red;
}
#menu {
    background-color: #55473a;
}

#menu .card {
    border: 2px solid black;
    box-shadow: 10px 10px 5px black;
}

#news {
    background-color: #e6d9cd;
}

#news .card {
    border: 1px solid grey
}

.social-links li {
    list-style: none;
    display: inline;
}

.social-links a {
    text-decoration: none;
}

#contact {
    background-color: #55473a;
}

.error {
    background-color: #f25050;
    margin: 8px auto;
    font-size: 18px;
    font-weight: bold; 
    padding: 10px;
    color: black;
    text-align: center;
    width: 50%;
    text-transform: uppercase;
    display: none;
}

@media (max-width: 767px) {
    .carousel-item img {
        height: 280px;
    }
    .carousel-item {
        height: auto;
    }

    #menu .card{
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 641px) and (max-width: 1023px){
    @media screen and (min-width: 641px) and (max-width: 1023px) {
       #menu .col-md-3 {
        flex: 0 0 50%;
        max-width: 50%;
        margin-bottom: 20px;
      }
    }
}