// Fontes
$fontDefault: Roboto, sans-serif;
$fontTitle: Bebas Neue, sans-serif;

//Cores
$primaryColor: #e6d9cd;
$secondaryColor: #55473a;
$navColor: #262625;
$textColor: #262625;

//Breakpoints
$mobile: 767px;
$tabletMin: 641px;
$tabletMax: 1023px;