* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

body {
    padding: 100px;
    background-color: #ff7e67;
}

header {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

header img {
    height: 50px;
    margin-right: 16px;
}

header h1 {
    font-size: 40px;
    font-weight: bold;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    width: 100%;
    flex-direction: column;
}

form {
    display: flex;
    justify-content: center;
}

form input {
    font-size: 24px;
    background-color: white;
    border: 2px solid black;
    padding: 8px 8px;
    margin: 0 16px;
    width: 50%;
    
}

form button {
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #42b883;
    color: black;
    cursor: pointer;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

ul li {
    padding: 2px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.checked {
    text-decoration: line-through;
}